/* ==========================================================================
   Large Stylesheet (1024 - 1440)
   ========================================================================== */
/* line 9, ../../scss/styles/large.scss */
.battleArea .lyricsUG h3 {
  font-size: 23px;
}
/* line 18, ../../scss/styles/large.scss */
.battleArea .lyricsMS h3 {
  font-size: 23px;
}

/* ==========================================================================
   Debug Styles
   ========================================================================== */
/* line 31, ../../scss/styles/large.scss */
#debug-message {
  background: lightgreen;
}
/* line 33, ../../scss/styles/large.scss */
#debug-message .small, #debug-message .medium, #debug-message .exlarge {
  display: none;
}
/* line 36, ../../scss/styles/large.scss */
#debug-message .large {
  display: block;
}
